<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dynamicmetronome.mainactivity"
    android:versionName="@string/app_version">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_placeholder"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_placeholder"
        android:supportsRtl="true"
        android:theme="@style/Theme.DynamicMetronome">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <profileable
            android:shell="true"
            tools:targetApi="q">
        </profileable>
    </application>
</manifest>